.create-sow-modal {
    .button-containers {
        .question-select-button {
            margin-bottom: 20px;
            &:nth-of-type(even) {
                margin-left: 3%;
                line-height: 14px;
                padding-top: 5px;
            }
        }
    }
}