.submit-salesforce-modal {
    .create-sow {
        .question-select-button {
            margin-left: calc(50% - 71.5px);
        }
        .form-group {
            label {
                font-size: 15pt;
                font-family: georgia;
                margin-bottom: 20px;
                padding-left: 10px;
                .span {
                    
                }
            }
            input {
                width: 90%;
                margin-left: 5%;
                height: 46px;
                border: 1px solid rgb(151,151,151);
                border-radius: 0px;
                font-size: 20px;
                color: rgb(151,151,151);
            }
            .invite-users-container {
                height: 140px;
                border: 1px solid rgb(151,151,151);
                color: black;
                overflow: auto;
                ul {
                    list-style: none;
                    max-height: 90px;
                    overflow: auto;
                    padding-left: 0px;
                    width: 210px;
                    margin-left: 10px;
                    margin-top: 10px;
                    height: 60px;
                    li {
                        font-family: roboto;
                        font-size: 12pt;
                        color: rgb(46,45,48);
                        height: 28px;
                        line-height: 28px;
                        background-color: #d8d8d8;
                        margin-bottom: 2px;
                        i {
                            width: 30px;
                            text-align: center;
                        }
                        .delete-user {
                            float: right;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}