<div id="dashboard-page" class="row">
    <div class="header">
        <span class="fa fa-search" aria-hidden="true"></span>
        <span class="title">DASHBOARD</span>
        <div class="plus-container">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </div>
    </div>
    <div class="decoration-line"></div>
    <div class="dashboard-body">
        <div class="tasks-panel panel">
            <div class="panel-header">
                <span class="title">TASK</span>
                <div class="dashboard-icon">
                    <i class="fa fa-book icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="panel-body row">
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <span class="task-num">12</span>
                    <span class="task-text">Pending</span>
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <span class="task-num">9</span>
                    <span class="task-text">Approvals</span>
                </div>
            </div>
        </div>
        <div class="clients-panel panel">
            <div class="panel-header">
                <span class="title">MY CLIENTS</span>
                <div class="dashboard-icon">
                    <i class="fa fa-user-circle-o icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="panel-body row">
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <span class="task-num">5</span>
                    <span class="task-text">Pursuits</span>
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <span class="task-num">2</span>
                    <span class="task-text">Active</span>
                </div>
            </div>
        </div>
        <div class="big-menus">
            <div class="menu quick-financial-menu row" ng-click="openFinancialsModel()">
                <span class="menu-text">QUICK FINANCIALS</span>
                <i class="menu-icon fa fa-calculator" aria-hidden="true"></i>
            </div>
            <div class="menu salesforce-menu row">
                <span class="menu-text">SALESFORCE</span>
                <i class="menu-icon fa fa-cloud" aria-hidden="true"></i>
            </div>
            <div class="clear-float">
            </div>
        </div>
    </div>
    <div class="footer-menus-pesudo-layer row">
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3 selected">
        </div>
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3">
        </div>
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3">
        </div>
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3">
        </div>
    </div>
    <div class="footer-menu row">
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3 selected">
            <i class="fa fa-tachometer dashboard-icon" aria-hidden="true"></i>
            <span class="menu-text">DASHBOARD</span>
        </div>
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <i class="fa fa-folder-open-o pursuit-icon" aria-hidden="true"></i>
            <span class="menu-text">PURSUIT</span>
        </div>
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <i class="fa fa-bookmark active-icon" aria-hidden="true"></i>
            <span class="menu-text">ACTIVE</span>
        </div>
        <div class="menu col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <i class="fa fa-area-chart mectics-icon" aria-hidden="true"></i>
            <span class="menu-text">METRICS</span
        </div>
    </div>
</div>