@import '../../mixin';

#dashboard-page {
    .header {
        height: 62px;
        line-height: 62px;
        text-align: center;
        position: relative;
        .title {
            font-size: 14pt;
            font-weight: bold;
        }
        span.fa {
            font-size: 20px;
        }
        .fa-search {
            position: absolute;
            left: 10px;
            top: 14px;
            font-size: 26px !important;
            cursor: pointer;
        }
        .plus-container {
            top: 14px;
            height: 30px;
            width: 30px;
            right: 10px;
            position: absolute;
            line-height: 30px;
            text-align: center;
            border: 4px solid #058bc2;
            border-radius: 15px;
            cursor: pointer;
            .fa-plus {
                display: inline-block;
                color: rgb(5,139,194)
            }
        }
    }
    .decoration-line {
        width: 90%;
        height: 1px;
        margin: 0px auto;
        padding: 0px;
        background-color: #D5D5D5;
        overflow: hidden;
    }
    .dashboard-body {
        margin-top: 20px;
        .panel {
            width: 80%;
            margin-left: 10%;
            border-radius: 6px;
            .panel-header {
                height: 66px;
                background-color: rgb(5,139,194);
                color: white;
                text-align: center;
                font-size: 11pt;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                padding-top: 10px;
                .dashboard-icon {
                    height: 64px;
                    width: 64px;
                    border-radius: 32px;
                    background: rgb(5,139,194);
                    line-height: 64px;
                    margin: 0 auto;
                    .icon {
                        font-size: 32px;
                    }
                }
            }
            .panel-body {
                margin: 0px;
                padding: 0px;
                height: 106px;
                text-align: center;
                &:after {
                    content: '';
                    height: 106px;
                    width: 1px;
                    background-color: rgb(238, 238, 238);
                    position: absolute;
                    left: 50%;
                }
                .task-num {
                    color: rgb(230, 92, 9);
                    font-size: 40pt;
                    letter-spacing: 0.1pt;
                    @extend %font-14-light;
                }
                .task-text {
                    display: block;
                    color: rgb(46, 45, 48);
                    font-family: Georgia;
                    font-style: italic;
                    font-size: 12pt;
                }
            }
        }
        .big-menus {
            width: 80%;
            margin-left: 10%;
            padding-left: 5%;
            padding-right: 5%;
            .menu {
                color: white;
                width: 45%;
                height: 120px;
                background-color: #058bc2;
                float: left;
                text-align: center;
                border-radius: 6px;
                .menu-icon {
                    font-size: 42px;
                }
                .menu-text {
                    display: block;
                    font-size: 12px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            .salesforce-menu {
                margin-left: 10%;
            }
        }
    }
    .footer-menus-pesudo-layer {
        height: 20px;
        bottom: 65Pt;
        width: 100%;
        position: fixed;
        .menu {
            &.selected {
                height: 20px;
                background: black;
                border-top: 4px solid rgb(230,92,9);
            }
        }
    }
    .footer-menu {
        position: fixed;
        bottom: 0px;
        width: 100%;
        i {
            font-size: 16pt;
            margin-top: 20px;
            margin-bottom: 8px;
        }
        .row {
            margin:0px;
        }
        .menu {
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            color: rgb(156,156,156);
            height: 65pt;
            background-color: rgb(64,64,64);
            &.selected {
                background: black;
                color: white;
            }
            .menu-text{
                display: block;
            }
            &:hover {
                background:black;
            }
        }
        .selected {
            &:after {
                height: 20pt;
                width: 25%;
                background: red;
            }
        }
    }
}