.quick-financial-modal {
    .create-new-financials {
        margin-left: 4%;
        p {
            margin-top: 5px;
            line-height: 20px;
        }
    }
    ul.opportunity-list {
        border: 1px solid rgb(190,190,190);
        list-style: none;
        padding-left: 20px;
        border-radius: 6px;
        li.opportunity-item {
            width: 94%;
            border-bottom: 1px solid rgb(215,215,215);
            height: 70px;
            &:last-of-type {
                border-bottom: 0px;
            }
            h3 {
                font-size: 11pt;
                color: rgb(156,156,156);
                font-style: italic;
            }

            h1 {
                font-size: 20px;
                color: rgb(45,46,68);
                margin-top: 10px;
            }
        }
    }
}