<div id="blockchain-step-two">
    <div class="header">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true" ng-click="backToDashboard()"></i>
        <span>Add Roles</span>
    </div>
    <div class="content">
        <div class="title">
            Symantec Blockchain Gap Analysis
        </div>
        <div class="role-amount">
            <div class="role-num">6</div>
            <div class="role-text">Roles added</div>
        </div>
        <div class="options">
            USA, CA, Sunnyvale
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">PARTNER</div>
                <div class="role-total">1 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">TBD: CA</div>
                    <div class="col-xs-4 role-cost">$725 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>1</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">MD</div>
                <div class="role-total">1 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">TBD: CA</div>
                    <div class="col-xs-4 role-cost">$460 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>1</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">Director</div>
                <div class="role-total">1 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">TBD: CA</div>
                    <div class="col-xs-4 role-cost">$385 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>1</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">MANAGER</div>
                <div class="role-total">0 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">TBD: CA</div>
                    <div class="col-xs-4 role-cost">$191 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">SR ASSOCIATE</div>
                <div class="role-total">3 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">TBD: CA</div>
                    <div class="col-xs-4 role-cost">$102 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>3</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">STAFF</div>
                <div class="role-total">0 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">TBD: CA</div>
                    <div class="col-xs-4 role-cost">$80 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">SERVICE CENTER</div>
                <div class="role-total">0 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">Architect</div>
                    <div class="col-xs-4 role-cost">$55 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">Engineer</div>
                    <div class="col-xs-4 role-cost">$55 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">PM</div>
                    <div class="col-xs-4 role-cost">$40 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">QA</div>
                    <div class="col-xs-4 role-cost">$48 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="role-list">
            <div class="role-label">
                <div class="role-title">OTHER</div>
                <div class="role-total">0 TOTAL</div>
                <div class="clear-float"></div>
            </div>
            <div class="role-content">
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">PA</div>
                    <div class="col-xs-4 role-cost">$55 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">EA</div>
                    <div class="col-xs-4 role-cost">$55 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">Intern</div>
                    <div class="col-xs-4 role-cost">$40 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="role-detail row">
                    <div class="col-xs-4 role-name">Intern MBA</div>
                    <div class="col-xs-4 role-cost">$48 hr</div>
                    <div class="col-xs-4 role-count">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span>0</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="back-btn" ng-click="back()"><i class="fa fa-caret-left" aria-hidden="true"></i> Back</button>
        <div class="page-num">2 of 3</div>
        <button class="next-btn" ng-click="next()">Next <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>
</div>