<div id="blockchain-step-one">
    <div class="header">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true" ng-click="backToDashboard()"></i>
        <span>Cost Estimator</span>
    </div>
    <div class="content">
        <div class="title">
            Symantec Blockchain Gap Analysis
        </div>
        <div class="buttons">
            <button class="fee">FIXED FEE</button>
            <button class="time">TIME & MATERIALS</button>
        </div>
        <div class="labels">
            <div class="label-name">CLIENT BUDGET</div>
            <input type="text" placeholder="$ Enter amount" />
        </div>
        <div class="labels">
            <div class="label-name">Project Duration</div>
        </div>
        <div class="labels">
            <div class="label-name">Line of Service</div>
            <div class="label-content">
                Advisory
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="labels">
            <div class="label-name">PRODUCT CODE</div>
            <div class="label-content">
                8033: TMT Application
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="labels">
            <div class="label-name">LOCATION OF PROJECT</div>
            <div class="label-content">
                USA, CA, Sunnyvale
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="back-btn"><i class="fa fa-caret-left" aria-hidden="true"></i> Back</button>
        <div class="page-num">1 of 3</div>
        <button class="next-btn" ng-click="next()">Next <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>
</div>